@tailwind base;
@tailwind components;
@tailwind utilities;

.min-h-screen {
  background-color: rgba(255, 255, 255, 0.9); /* Reduced brightness */
}

.bg-white {
  background-color: rgba(255, 255, 255, 0.9); /* Reduced brightness */
}

.text-white {
  color: rgba(255, 255, 255, 0.85); /* Reduced brightness */
}

.bg-blue-custom {
  background-color: #56B3FA; /* Custom blue color (Almost Aqua) */
}

.text-blue-custom {
  color: #56B3FA; /* Custom blue color (Almost Aqua) */
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

.typing-effect {
  display: inline-block;
  overflow: hidden; /* Ensures the text is hidden until it is typed */
  white-space: nowrap; /* Prevents text from wrapping */
  color: rgba(0, 0, 255, 0.85); /* Reduced brightness */
  border-right: 3px solid rgba(0, 0, 255, 0.85); /* Creates a cursor effect and sets color to blue */
  animation: typing 3s steps(30, end) forwards, blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: rgba(0, 0, 255, 0.85); } /* Change to blue for cursor */
}
